<ion-view>
  <ion-content ng-init="init()" class="padding scroll-bg">

    <h1>admin sections scientists hacking 4 fun</h1>
    <div class="list list-inset">
	<ion-item class="item-stable item">
	ionic.sql
		<button ng-click="goPopulate()" class="button button-full button-dark">
		SQLite.PopulateDB();
  		</button>
  		<button ng-click="goSQLEditor()" class="button button-full button-dark">
		SQLite.QueryEditor();
  		</button>
	</ion-item>
	<ion-item class="item-stable item">
	ionic.begin intercepting!
		<button ng-click="beginIntercept()" class="button button-full button-dark">
		angularJS.httpIntercept();
  		</button>
	</ion-item>

	<ion-item class="item-stable item">
	ionic.styling
		<button ng-click="goStyling()" class="button button-full button-dark">
		CSS.ShowTest();
  		</button>
	</ion-item>
	</ion-slide>
	</ion-slide-box>
   </ion-content>
</ion-view>