<ion-view >
<ion-content ng-init="init()">
<ion-slide-box>
<ion-slide> 
<div class="list list-">
	<ion-scroll zooming="false" direction="y" style="height: 300px"> 
		<div class="list card" ng-repeat="item in events.actividades" ng-class="color">
		  	<div class="item item-avatar">
				<img ng-src="img/svg/happy ({{item.categoria_id}}).svg"></img>
				<h2 style="color: #831318;" ng-bind="item.titulo"></h2>
				<p>FECHA - HORA</p>
		  	</div>


		  	<div class="item item-body">
    			<img ng-src="img/svg/happy ({{item.categoria_id}}).svg" style="max-width: 100px" ></img>
	    		<p ng-bind-html="item.subtitulo"></p>
	    	</div>

		    <div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Voy!
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Invitar
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Compartir
				</a>
			</div>
		</div>
	</ion-scroll>
</div>

</div>

</ion-slide>

</ion-slide-box>
<!-- 
	<pre>{{events | json}}</pre>
--></div>


</ion-content>
</ion-view>
