<ion-view >
<ion-content ng-init="init()">
<ion-slide-box>
<ion-slide> 
<div class="list list-inset">

	<div class="list">
		<div class="item ">
			<span class="item col agenda_hora" >HOY	</span>
		</div>
		
		<div class="item ">
			<div class="item ">	<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" placeholder="Search">
			</label>
		</div>

	</div>
	<ion-scroll zooming="false" direction="y" style="height: 300px">
	<div ng-repeat="item in events.actividades"  >
		<div class="item item-button-right" ng-class="color">
			<a  class="item item-avatar" href="#">
				<img src="img/svg/happy ({{item.categoria_id}}).svg" >
			</img>
			<b>
				<h2 style="color:red" >{{item.titulo}}</h2></b>
				<p ng-bind-html="item.subtitulo"></p>
			</a>
			<button class="button button-positive" ng-click="changeColor()">
				voy!
			</button>
		</div>
	</div>
	<div>
	</ion-scroll>
</div>

</div>

</ion-slide>

</ion-slide-box>
<!-- 
	<pre>{{events | json}}</pre>
--></div>


</ion-content>
</ion-view>
