<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content ng-init="app_init()">
        <ion-nav-bar class="bar-royal font-header">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon bar-royal" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right"><span class="tabs-striped"><span class="tab-item"><i class="icon ion-home" ng-click="goHome()"></i></span></span>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item><img src="img/menuHeader.png" width="100%">
                </ion-item>
                <ion-item nav-clear="" menu-close="" href="#/app/events"><i class="ion-help-circled size-32"></i> &nbsp;Qu&eacute; hay para hacer?</ion-item>
                <ion-item nav-clear="" menu-close="" href="#/app/voya"><span class="ion-flash-off size-32"></span> &nbsp; Mi lista</ion-item>
                <ion-item nav-clear="" menu-close=""><i class="ion-close-round size-32"></i></ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>