www/lib
node_modules
.tmp
angular-leaflet
.sass-cache
coverage
platforms
plugins
resources
*.swp
*.swo
*.log
*.DS_Store
www/css/ionic.app.css
www/css/ionic.app.min.css
www/js/config.js
www/js/shared/config.js
*.css.map
hooks
*.apk
