<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="ar.com.growcontenidos.AgendaCiudadMendoza" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Agenda Ciudad de Mendoza</name>
  <description>
        La Agenda de Cultura Y Turismo de la Ciudad de Mendoza
    </description>
  <author email="info@growcontenidos.com" href="http://growcontenidos.com">
        Grow Contenidos
    </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>