<ion-view>
  <ion-content ng-init="init()" >

<div class="list card">

 <div class="item item-body">
            
    <div class="card-title">Itinerary</div>
            <span class="item-note">
                <i class="icon ion-ios7-calendar-outline"></i>
                11/15 -12/31
            </span>
   <a class="item item-icon-left positive" href="#">
    <i class="icon ion-android-plane"></i>
    Flight 953
  </a>
      
  </div>
</div>
      
      
<div class="card">
  <div class="item item-text-wrap">
    <div class="card-title">Threats</div>
      <span class="item-note">
                <i class="icon ion-ios7-clock-outline"></i>
                11/13 12:30 pm
      </span>
      		<leaflet height="200"></leaflet>

  </div>
</div>
      
      
<div class="card">
  <div class="item item-text-wrap">
    <div class="card-title">Headlines</div>
      <span class="item-note">
                <i class="icon ion-ios7-clock-outline"></i>
                11/13 12:30 pm
      </span>
      
      <div class="list">
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-medical-outline positive"></i>
                <div class="card-subtitle">Headline number 1</div>
               Lorem ipsum sic dolor amet non solum...
            <span class="item-note">
                Threats
            </span>
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-ios-medical-outline positive"></i>
                <div class="card-subtitle">Headline number 2</div>
                Lorem ipsum sic dolor amet non solum...
            <span class="item-note">
                Threats
            </span>
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-ios-medical-outline positive"></i>
                <div class="card-subtitle">Headline number 3</div>
                Lorem ipsum sic dolor amet non solum...
            <span class="item-note">
                Threats
            </span>
        </a>

   </div>
  </div>
</div>
      
   </ion-content>
</ion-view>